body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}
canvas {
  max-width: 100%;
  height: auto;
}
h2 {
  text-align: center;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.config-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.config-row input {
  width: 60px;
  text-align: right;
}
